<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/convert/media-attached" method="post" enctype="multipart/form-data">
        <input type="file" name="normal_images" multiple>
      <input type="submit">
    </form>
  </body>
</html>
